<div *ngIf="employee" class="container">
  <h3>Employee Form</h3>
  <form (submit)="submitForm()" novalidate [formGroup]="employeeForm">

    <div class="form-group" [class.has-error]="firstNameMessage">
      <label for="firstNameId" class="control-label">First Name</label>
      <input id="firstNameId" type="text" class="form-control" placeholder="firstName" formControlName="firstName">
    </div>
    <div *ngIf="firstNameMessage" class="alert alert-danger">
      {{firstNameMessage}}
    </div>


    <div class="form-group">
      <label for="lastNameId">Last Name</label>
      <input id="lastNameId" type="text" class="form-control" placeholder="lastName" formControlName="lastName">
    </div>


    <div class="form-group">
      <label for="ageId">Age</label>
      <input id="ageId" type="number" class="form-control" placeholder="age" formControlName="age">
    </div>


    <div class="form-group">
      <label for="professionId">Profession</label>
      <input id="professionId" type="text" class="form-control" placeholder="profession" formControlName="profession">
    </div>


    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="fullTime"> Full Time Employee
      </label>
    </div>


    <div class="form-group" [class.has-error]="hasLanguageError">
      <label class="control-label" for="languageId">Language</label>
      <select id="languageId" class="form-control" formControlName="language">
        <option value="default">Select a language...</option>
        <option *ngFor="let lang of languages">
          {{lang}}
        </option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">OK</button>
  </form>
</div>
