<div class="container">
<h1>Employees</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Profession</th>
      <th>Full time</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.profession}}</td>
      <td>{{employee.fullTime}}</td>
      <td>{{employee.language}}</td>
      <td>
        <button (click)=deleteEmployee(employee.id)>delete</button>
      </td>
      <td>
        <button [routerLink]="['/employee/' + employee.id]">details</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
