<div class="container">
  <h1>Employees</h1>
  <table *ngIf="employees" class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Profession</th>
      <th>Full time</th>
      <th>Language</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="search" size="10" [(ngModel)]="employeeFilter.id" (ngModelChange)="filterChanged($event)"></td>
      <td><input type="search" size="10" [(ngModel)]="employeeFilter.firstName" (ngModelChange)="filterChanged($event)"></td>
      <td><input type="search" size="10" [(ngModel)]="employeeFilter.lastName" (ngModelChange)="filterChanged($event)"></td>
      <td><input type="search" size="10" [(ngModel)]="employeeFilter.age" (ngModelChange)="filterChanged($event)"></td>
      <td><input type="search" size="10" [(ngModel)]="employeeFilter.profession" (ngModelChange)="filterChanged($event)"></td>
      <td></td>
      <td><input type="search" size="10" [(ngModel)]="employeeFilter.language" (ngModelChange)="filterChanged($event)"></td>
      <td></td>
    </tr>
    <tr *ngFor="let employee of employees | filterBy: employeeFilterMap | paginate: { itemsPerPage: pageSize, currentPage: page }">
      <td>{{employee.id}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.profession}}</td>
      <td><input disabled type="checkbox" [(ngModel)]="employee.fullTime"></td>
      <td>{{employee.language}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary" (click)=deleteEmployee(employee.id)>
            <span class="fa fa-trash-o" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-secondary" [routerLink]="['/employee/' + employee.id]">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="pull-right">
    <app-dropdown [values]="[1,2,5]" (valueChange)="pageSize = $event"></app-dropdown>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  <button type="button" class="btn btn-primary" [routerLink]="['/employee/0']">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Add
  </button>
</div>
