<div class="container">
  <h1>Employees</h1>
  <table *ngIf="employees" class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Profession</th>
      <th>Full time</th>
      <th>Language</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.profession}}</td>
      <td><input disabled type="checkbox" [(ngModel)]="employee.fullTime"></td>
      <td>{{employee.language}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary" (click)=deleteEmployee(employee.id)>
            <span class="fa fa-trash-o" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-secondary" [routerLink]="['/employee/' + employee.id]">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary pull-right" [routerLink]="['/employee/0']">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Add
  </button>
</div>
