<div class="container">
  <h1>Welcome</h1>
  <p>This is a simple Spring Boot Angular app demonstrating basic concepts like CRUD operations, Keycloak security, monitoring etc.</p>
  <p>In order to make this application work properly, you need to have a Keycloak server configured and running. Furthermore,
    clone the spring-boot-admin-server project (https://github.com/r-winkler/spring-boot-admin-server.git) and start it as well.</p>
  <p></p>
  <p><b>Start frontend (standalone):</b> 'npm start' in frontend project. http://localhost:4200</p>
  <p></p>
  <p><b>Start frontend (Spring Boot):</b> http://localhost:8080</p>
  <p></p>

</div>
